In [7]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [8]:
df=pd.read_csv("gplay.csv")

In [9]:
df

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone
1,1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone
...,...,...,...,...,...,...,...,...,...,...
10836,10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone
10837,10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone
10838,10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone
10839,10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+
10840,10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10841 non-null  int64
 1   App             10841 non-null  object
 2   Category        10841 non-null  object
 3   Rating          9367 non-null   float64
 4   Reviews         10841 non-null  object
 5   Size            10841 non-null  object
 6   Installs        10841 non-null  object
 7   Type            10840 non-null  object
 8   Price           10841 non-null  object
 9   Content Rating  10840 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 847.1+ KB

In [11]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [12]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
dtype: int64

In [13]:
#1-3% then remove rows
#3-33% then replace null values
#33% above then remove columns
1474/10841*100
#13 percent of null values

13.596531685268886

In [14]:
rm=df["Rating"].mean()

In [15]:
rm

4.193338315362443

In [16]:
df["Rating"].fillna(rm,inplace=True)

In [17]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
dtype: int64

In [18]:
df.describe()

             Rating
count  10841.000000
mean       4.193338
std        0.499557
min        1.000000
25%        4.100000
50%        4.200000
75%        4.500000
max       19.000000

In [19]:
df.dropna(inplace=True)

In [20]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

In [21]:
#change type
df["Reviews"]=df["Reviews"].astype("int")

In [22]:
df["Size"]

0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: Size, Length: 10839, dtype: object

In [23]:
df["Size"].value_counts()

Size
Varies with device    1694
11M                    198
12M                    196
14M                    194
13M                    191
                      ...
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, Length: 461, dtype: int64

In [24]:
def clean_size(x):
    if "k" in x:
        x=x.replace("k","")
        return float(x)/1024
    elif "M" in x:
        x=x.replace("M","")
        return float(x)
    elif "Varies with device" in x:
        return np.nan
    else:
        return float(x)

In [25]:
df["Size"]=df["Size"].map(clean_size)

In [26]:
df.isnull().sum()

App                  0
Category             0
Rating               0
Reviews              0
Size              1694
Installs             0
Type                 0
Price                0
Content Rating       0
dtype: int64

In [27]:
1694/10839*100

15.628748039487036

In [28]:
sm=df["Size"].mean()

In [29]:
df["Size"].fillna(sm,inplace=True)

In [30]:
df["Installs"].value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
Name: count, dtype: int64

In [31]:
df["Installs"]=df["Installs"].str.replace("+","")

In [32]:
df["Installs"]=df["Installs"].str.replace(",","")

In [33]:
df["Installs"]=df["Installs"].astype("float")

In [34]:
df["Price"].value_counts()

Price
0         10039
$0.99       148
$2.99       129
$1.99        73
$4.99        72
          ...
$19.90        1
$1.75         1
$14.00        1
$4.85         1
$1.04         1
Name: count, Length: 92, dtype: int64

In [35]:
df["Price"]=df["Price"].str.replace("$","")

In [36]:
df["Price"]=df["Price"].astype("float")

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10839 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10839 non-null  object
 1   Category        10839 non-null  object
 2   Rating          10839 non-null  float64
 3   Reviews         10839 non-null  int32
 4   Size            10839 non-null  float64
 5   Installs        10839 non-null  float64
 6   Type            10839 non-null  object
 7   Price           10839 non-null  float64
 8   Content Rating  10839 non-null  object
dtypes: float64(4), int32(1), object(4)
memory usage: 804.5+ KB

In [38]:
df.describe()

             Rating       Reviews          Size      Installs         Price
count  10839.000000  1.083900e+04  10839.000000  1.083900e+04  10839.000000
mean       4.191972  4.441939e+05     21.516165  1.546577e+07      1.027463
std        0.478929  2.927893e+06     20.748761  8.503315e+07     15.950436
min        1.000000  0.000000e+00      0.008301  0.000000e+00      0.000000
25%        4.100000  3.800000e+01      5.900000  3.000000e+03      0.000000
50%        4.200000  2.094000e+03     18.000000  1.000000e+05      0.000000
75%        4.500000  5.478300e+04     26.000000  5.000000e+06      0.000000
max        5.000000  7.815831e+07    100.000000  1.000000e+09    400.000000